body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #7689AA;
  margin: 20px;
  text-align: center;
}

h4 {
  color: #5C5C5C;
  margin: 20px;
  text-align: center;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  color: #5C5C5C;
  margin: 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../images/house.jpg');
  background-position: 0px -350px;
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 2px 2px 2px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.carousel img {
	height: 900px;
    width: 900px;
    object-fit: contain;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #7689AA;
  font-size: 24px;
  font-weight: 700;
}

.btn.btn-primary:hover {
  border-radius: 2px;
  border: 0px;
  color: #7689AA;
  text-shadow: none;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 700;
 }

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}